---
title: "关于"
description: "Hey, this is Johnny."
header-img: "img/about-bg.jpg"
---

<!DOCTYPE HTML>
<html>
<head>
{% include head.html %}
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</head>
<body>

{% include nav.html %}

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--STICKER-->
<div id="sticker"></div>

<div id="wrapper">

<!--BIO TITLE-->
<h2 id="titleName" class="sectionHead">Johnny</h2>

<!--BIO-->
<div id="bio">
	<h2>嵌入式软件程序猿</h2>

	<!--BIO PARAGRAPH-->
	<p>	
		hey， 我叫johnny， 嵌入式软件攻城师&神经网络算法徒弟，theme developer living in the outskirts of Seattle with my wife and two kids. I'm an active author on ThemeForest where I enjoy spending my day in Photoshop converting custom designs into fancy-pants WordPress themes.
	</p>
	
</div><!--end bio-->

<div class="clear"></div>

<!--SKILLS TITLE-->
<h2 id="tools" class="sectionHead">技能</h2>

<!--SKILLS-->
<ul id="skills">
	<!--////////////////////////////////////////////////////////////////////////////////////-->
	<!--Notice the class names indicate the % of your skills. i.e. s70 = 70%, s40 = 40% etc. -->
	<!--////////////////////////////////////////////////////////////////////////////////////-->
	<li id="skill1" class="s90"><span>C</span></li>
	<li id="skill2" class="s70"><span>C++</span></li>
	<li id="skill3" class="s80"><span>python</span></li>
	<li id="skill4" class="s90"><span>cortex m3/m4 kernel</span></li>
	<li id="skill5" class="s60"><span>freertos+ucosII+zephyr</span></li>
	<li id="skill6" class="s70"><span>gcc+make+gdb</span></li>
	<li id="skill7" class="s90"><span>git+svn</span></li>
	<li id="skill8" class="s90"><span>openocd+jlink/stdi</span></li>
	<li id="skill9" class="s80"><span>latex+markdown</span></li>
	<li id="skill10" class="s40"><span><del>Altium designer</del></span></li>
</ul><!--end skills-->

<div class="clear"></div>

<!--EXPERIENCE TITLE-->
<h2 id="clock" class="sectionHead">工作经历</h2>

<!--EXPERIENCE-->
<ul id="jobs">
	<li>
		<div class="details">
			<h3>联睿电子科技有限公司</h3>
			<h4>郑州</h4>
			<h5>11/2016 - 至今</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque.</p>
	</li>
	<li>
		<div class="details">
			<h3>邦鼓思电子科技有限公司</h3>
			<h4>上海</h4>
			<h5>2/2016 - 8/2011</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque.</p>
	</li>
	<!--li>
		<div class="details">
			<h3>Another Company</h3>
			<h4>Creative Director - City, State</h4>
			<h5>Jun 2008 - Dec 2009</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque.</p>
	</li-->
</ul><!--end jobs-->

<!--EDUCATION TITLE-->
<div class="clear"></div><h2 id="learn" class="sectionHead">教育经历</h2>

<!--EDUCATION-->
<ul id="schools">
	<li>
		<div class="details">
			<h3>江西理工大学</h3>
			<h4>嵌入式系统-学士学位</h4>
			<h5>2012 - 2016</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque.</p>
	</li>
	<!--li>
		<div class="details">
			<h3>State University</h3>
			<h4>Degree Title - Concentration</h4>
			<h5>2001 - 2004</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque.</p>
	</li-->
</ul><!--end schooling-->

<div class="clear"></div>

<!--HONORS / AWARDS TITLE-->
<h2 id="ribbon" class="sectionHead">获奖 &amp; 荣誉</h2>

<!--HONORS / AWARDS-->
<ul id="honorsAwards">

	<li>江西省机器人竞赛二等奖</li>
	<li>江西理工大学电子科技协会会长</li>

</ul><!--end honorsAwards-->

<div class="clear"></div>

<!--AS SEEN ON TITLE-->
<h2 id="eye" class="sectionHead">项目经历</h2>

<!--AS SEEN ON-->
<ul id="recommends">

	<li><h3>邦鼓思电子科技有限公司</h3></li>
	
	<li>
		<div class="details">
			<h3>UWB 室内定位系统</h3>
			<h4>项目负责人</h4>
		</div>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>
	</li>
	<li>
		<div class="details">
			<h3>基于GPS智能割草机系统</h3>
			<h4>通信开发+测试</h4>
		</div>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>
	</li>

		<li><h3>清泉小站正在学习与开发项目</h3></li>
	
	<li>
		<div class="details">
			<h3><a href="https://www.zephyrproject.org/">zephyr</a></h3>
			<h4>驱动开发与系统维护</h4>
		</div>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>
	</li>
	<li>
		<div class="details">
			<h3><a href="http://www.tensorfly.cn/">tensorfly</a></h3>
			<h4>神经网络框架学习</h4>
		</div>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>
	</li>

</ul><!--end seenOn-->

<div class="clear"></div>

<!--RECOMMENDATIONS TITLE-->
<h2 id="chat" class="sectionHead">my friends</h2>

<!--RECOMMENDATIONS-->
<ul id="recommends">
	
	<li>
		<div class="details">
			<h3>rudy</h3>
			<h4>自然语言处理</h4>
		</div>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>
	</li>
	<!--li>
		<div class="details">
			<h3>黄振亚</h3>
			<h4>java 工程师</h4>
		</div>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>
	</li-->

	
</ul><!--end recommends-->

<div class="clear"></div>

<!--CONTACT TITLE-->
<h2 id="contact" class="sectionHead">联系我</h2>

<h3 id="contact" class="sectionHead">QQ &nbsp &nbsp <a href="">1207808305</a></h2>
<h3 id="contact" class="sectionHead">微信 &nbsp <a href="">J1207808305</a></h2>
<h3 id="contact" class="sectionHead">邮箱 &nbsp <a href="mailto:johnny@clspring.com">johnny@clspring.com</a></h2>

<div class="clear"></div>
</div><!--end wrapper-->

<!--SCRIPTS-->
<script src="js/jquery.js"></script>
<script src="js/backPosition.js"></script>
<script src="js/custom.js"></script>
{% include script.html %}

<footer>
{% include footer.html %}
</footer>

</body>
</html>