---
title: "关于"
description: "Hey, this is Johnny."
header-img: "img/about-bg.jpg"
---

<!DOCTYPE HTML>
<html>
<head>
{% include head.html %}
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</head>
<body>

{% include nav.html %}

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--STICKER-->
<div id="sticker"></div>

<div id="wrapper">

<!--BIO TITLE-->
<h2 id="titleName" class="sectionHead">Johnny</h2>

<!--BIO-->
<div id="bio">
	<h2>嵌入式软件程序猿</h2>

	<!--BIO PARAGRAPH-->
	<p>	
		hey， 我叫johnny， 嵌入式软件攻城师，毕业于江西理工大学软件工程嵌入式系统专业。我是一个shy boy，喜欢一个人静静的敲代码，思考怎么不会让机器人翻沟里去。现在，我想给机器人装上一个定位的东东，但发现这个定位系统可以有一个很好的大脑。
	</p>
	
</div><!--end bio-->

<div class="clear"></div>

<!--SKILLS TITLE-->
<h2 id="tools" class="sectionHead">技能</h2>

<!--SKILLS-->
<ul id="skills">
	<!--////////////////////////////////////////////////////////////////////////////////////-->
	<!--Notice the class names indicate the % of your skills. i.e. s70 = 70%, s40 = 40% etc. -->
	<!--////////////////////////////////////////////////////////////////////////////////////-->
	<li id="skill1" class="s90"><span>C</span></li>
	<li id="skill2" class="s70"><span>C++</span></li>
	<li id="skill3" class="s40"><span>python</span></li>
	<li id="skill4" class="s90"><span>cortex m3/m4 kernel</span></li>
	<li id="skill5" class="s60"><span>freertos+ucosII+zephyr</span></li>
	<li id="skill6" class="s70"><span>gcc+make+gdb</span></li>
	<li id="skill7" class="s80"><span>git+svn</span></li>
	<li id="skill8" class="s90"><span>openocd+jlink/stdi</span></li>
	<li id="skill9" class="s80"><span>latex+markdown</span></li>
	<li id="skill10" class="s40"><span><del>Altium designer</del></span></li>
</ul><!--end skills-->

<div class="clear"></div>

<!--EXPERIENCE TITLE-->
<h2 id="clock" class="sectionHead">工作经历</h2>

<!--EXPERIENCE-->
<ul id="jobs">
	<li>
		<div class="details">
			<h3>联睿电子科技有限公司</h3>
			<h4>郑州</h4>
			<h5>11/2016 - 至今</h5>
		</div>
		<p>公司核心为UWB定位系统，在人机交互，快速布设，定位精度等方面具有核心竞争力。目前主要负责定位系统驱动，嵌入式软件架构，定位算法的开发。</p>
	</li>
	<li>
		<div class="details">
			<h3>邦鼓思电子科技有限公司</h3>
			<h4>上海</h4>
			<h5>2/2016 - 8/2016</h5>
		</div>
		<p>真的很幸运能够在这样的公司实习与工作，向顶尖的嵌入式工程师学习，来到这里才发现自己原来所学的一切都是那么浅显。在他们的带领下，才真正意义上步入嵌入式的大门，不仅扎实了最基本的嵌入式基础，还学习了嵌入式编程思想，嵌入式软件架构，项目管理工具以及项目管理思想，让自己真正的了解了一个项目开发的基本流程，感谢各位大神的指导，让自己懂得了自己以后开发的道路，以及更加深入学习嵌入式的方法。</p>
	</li>
	<!--li>
		<div class="details">
			<h3>Another Company</h3>
			<h4>Creative Director - City, State</h4>
			<h5>Jun 2008 - Dec 2009</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque.</p>
	</li-->
</ul><!--end jobs-->

<!--EDUCATION TITLE-->
<div class="clear"></div><h2 id="learn" class="sectionHead">教育经历</h2>

<!--EDUCATION-->
<ul id="schools">
	<li>
		<div class="details">
			<h3>江西理工大学</h3>
			<h4>嵌入式系统-学士学位</h4>
			<h5>09/2012 - 07/2016</h5>
		</div>
		<p>毕业于软件学院嵌入式系统专业，喜欢有关机器人的制作与程序开发，从最基础最头疼的C51单片机开始了自己的求学生涯，后来有幸带领团队参加机器人竞赛，同时也开始的自己系统学习嵌入式的道路，从51单片机到STM32再到Cortex-M3；从USART，IIC，SPI到USB再到TCP/IP；从while(1)，中断到最简单的操作系统；从数据结构到机器人控制算法再到matlab仿真；中间走过很多弯路，也困惑过很多，感谢老师能够给予自己的学习的机会与学习环境，能够让自己顺利的毕业。</p>
	</li>
	<!--li>
		<div class="details">
			<h3>State University</h3>
			<h4>Degree Title - Concentration</h4>
			<h5>2001 - 2004</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque.</p>
	</li-->
</ul><!--end schooling-->

<div class="clear"></div>

<!--HONORS / AWARDS TITLE-->
<h2 id="ribbon" class="sectionHead">获奖 &amp; 荣誉</h2>

<!--HONORS / AWARDS-->
<ul id="honorsAwards">

	<li>江西省机器人竞赛二等奖</li>
	<li>江西理工大学电子科技协会会长</li>

</ul><!--end honorsAwards-->

<div class="clear"></div>

<!--AS SEEN ON TITLE-->
<h2 id="eye" class="sectionHead">项目经历</h2>

<!--AS SEEN ON-->
<ul id="recommends">

	<li><h3>邦鼓思电子科技有限公司</h3></li>
	
	<li>
		<div class="details">
			<h3>UWB 室内定位系统</h3>
			<h4>项目负责人</h4>
		</div>
		<p>项目服务于室内机器人精确定位，负责UWB室内定位模块底层驱动，IEEE 802.15.4 MAC 层驱动，室内定位算法的开发。</p>
	</li>
	<li>
		<div class="details">
			<h3>基于GPS智能割草机系统</h3>
			<h4>通信开发+测试</h4>
		</div>
		<p>负责割草机系统通信模块开发，服务于割草机数据传输与多机通信。参与割草机系统的调试，割草机核心板测试，以及机器人控制算法测试工作。</p>
	</li>

		<li><h3>clspring 工作室</h3></li>
	
	<li>
		<div class="details">
			<h3><a href="https://www.zephyrproject.org/">zephyr</a></h3>
			<h4>驱动开发</h4>
		</div>
		<p>Zephyr操作系统项目是基于Apache 2.0许可并与Linux基金会合作发布的，旨在构建一款面向最小尺寸物联网设备的实时操作系统 (RTOS)，它是一个将权力赋予社区发展的真正开源解决方案。</p>
	</li>
	<li>
		<div class="details">
			<h3><a href="http://www.tensorfly.cn/">tensorfly</a></h3>
			<h4>神经网络框架学习</h4>
		</div>
		<p>TensorFlow是谷歌基于DistBelief进行研发的第二代人工智能学习系统，是一个将复杂的数据结构传输至人工智能神经网中进行分析和处理过程的系统。</p>
	</li>

</ul><!--end seenOn-->

<div class="clear"></div>

<!--RECOMMENDATIONS TITLE-->
<h2 id="chat" class="sectionHead">my friends</h2>

<!--RECOMMENDATIONS-->
<ul id="recommends">
	
	<li>
		<div class="details">
			<h3>rudy</h3>
			<h4>自然语言处理</h4>
		</div>
		<p>"rudy 毕业于东华大学，企业管理硕士研究生，在商科背景下擅长数据挖掘，数据分析，机器学习。具有很丰富的数据分析理论知识，以及很严谨的数据分析实践能力"</p>
	</li>
	<!--li>
		<div class="details">
			<h3>黄振亚</h3>
			<h4>java 工程师</h4>
		</div>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>
	</li-->

	
</ul><!--end recommends-->

<div class="clear"></div>

<!--CONTACT TITLE-->
<h2 id="contact" class="sectionHead">联系我</h2>

<!-- <h3 id="contact" class="sectionHead">QQ &nbsp &nbsp <a href="">1207808305</a></h2> -->
<h3 id="contact" class="sectionHead">微信 &nbsp; <a href="">J1207808305</a></h2>
<h3 id="contact" class="sectionHead">邮箱 &nbsp; <a href="mailto:johnny@clspring.com">johnny@clspring.com</a>
</h2>

{% include discuss.html %}

<div class="clear"></div>
</div><!--end wrapper-->

    <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

<!--SCRIPTS-->
<script src="js/jquery.js"></script>
<script src="js/backPosition.js"></script>
<script src="js/custom.js"></script>
{% include script.html %}

<footer>
{% include footer.html %}
</footer>

</body>
</html>
